*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
header{
        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../1.jpg);
        height: 70vh;
        background-size: cover;
        background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;   
    position:fixed;   
}
ul li{
       display: inline-block;
}
ul li a{
        text-decoration: none;
        color: #fff;
        padding: 5px 20px;
        border: 1px solid transparent;
        transition: 0.6s ease
}
ul li a:hover{
        background-color: #fff;
        color: #000;
}
ul li.active a{
        background-color: #fff;
        color: #000;
}
.logo img{
   margin-top:35px;
   float: left;
   width: 100px;
   height: auto;
}
.main{
     max-width: 1250px;
     margin: auto;
}
.title{
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
} 
.title h1{
          color: #fff;
          font-size: 70px;
}
.button{
       position: absolute;
       top: 62%;
       left: 50%;
       transform: translate(-50%,-50%);  
} 
.btn{ 
      border: 1px solid #fff;
      padding: 10px 30px;
      color: #fff;
       text-decoration: none;
       transition:0.6s ease; 
  }
.btn:hover{
           background-color: #fff;
        color: #000;
}
header{
	background-image: url(//cdn.shopify.com/s/files/1/0072/2327/9669/collections/icons-bn-2x.png?v=1555635205), linear-gradient(80.3deg, rgba(44, 128, 252, 0.99) -0.67%, rgba(71, 137, 199, 0.99) 99.89%);
}